
  <div class="card mb-4 wow fadeIn ">

    </div>
   <!--S <div class="d-flex flex-row-reverse mb-4">
    <button type="button" mdbBtn color="success" [routerLink]="['../order-create/customer-info']"
    class="p-2 pad" mdbWavesEffect>+ Create Order</button>
  </div>-->
  
  <mdb-card cascade="true" narrower="true">
    <!--Card image-->
    <div class="view view-cascade gradient-card-header ulink-red narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <div>
      </div>
      <a href="" class="white-text mx-3">Select Product</a>
      <div>
      </div>
    </div>
    <div class="px-4">
      <div class="table-wrapper">
        <table class="mb-0" mdbTable hover="true">
          <thead>
          <tr>
            <th class="th-lg">
              <a >Store Name
 
              </a>
            </th>
            <th class="th-lg">
              <a >Store Type
 
              </a>
            </th>
            <th class="th-lg">
              <a >Orders
 
              </a>
            </th>
            <th class="th-lg">
                <a >Activity
   
                </a>
              </th>
          </tr>
          </thead>
          <tbody>
          <tr [routerLink]="['../orders']">
            <td>cvbcvb</td>
            <td>cvbcvb</td>
            <td>bcvbc</td>
            <td>ddd</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mdb-card>