<div class="left-navigation w-nav" data-animation="default" data-collapse="medium" data-duration="400" data-no-scroll="1">
  <a class="logo-link w-nav-brand" href="#">
      <h1 class="brand-text">ULink</h1>
  </a>
  <nav class="nav-menu w-nav-menu" role="navigation"><a class="nav-link w-nav-link" [routerLink]="['create/main']">CREATE</a>
    <a class="nav-link w-nav-link" [routerLink]="['orders/stores']">Orders</a>
    <!--<a class="nav-link w-nav-link"  [routerLink]="['stores/stores-list']">Products</a>-->
    <a class="nav-link w-nav-link" href="#contact">Account</a></nav>
  <div class="hamburger-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
  </div>
  <div class="social-footer w-hidden-medium w-hidden-small w-hidden-tiny"> 
              
  </div>
</div>