<div class="w-100">
    <div  class="w-80 mx-auto mt-5">
      <div class="card p-3">
        <div class="card-body">
          <div class="row mt-5 mb-5">
            <div class="col-6">
              <h3>Order number: <span class="green-blue-color">0112002</span></h3>
              <h3>Order Type: <span class="green-blue-color"> Easy Order</span> </h3>
              <h3>Order Amount: <span class="green-blue-color"> 220 AED
                  </span></h3>
              <h3>VAT 5%: <span class="green-blue-color"> 10 AED</span> </h3>
  
              <h3>Delivery Type: <span class="green-blue-color"> Normal Service</span></h3>
              <h3>Total Amount: <span class="green-blue-color"> 210 AED</span></h3>
  
            </div>
            <div >
              <h3>Order Status:</h3>
    
              <div class="mt-5">
                <h3>Customer Details: </h3>
                <h5 class="red-material-color "></h5>
              </div>
          </div>
        </div>
        </div>
      </div>
      <div class="mt-5 mx-auto mb-5">
        <h3>Schedule:</h3>
        <div class="card w-100 p-3 mt-5">
          <div class="card-body">
            <div class="row text-center">
              <div class="col-3">
                <h6>Pick Up Date and Time:</h6>
                <span  class="purple-blue-color">
                </span><br>
              </div>
              <div class="col-3">
              </div>
              <div class="col-3">
              </div>
              <div class="col-3">
                <h6>Delivery Date and Time:</h6>
                <span >
                </span><br>
              </div><br>
            </div>
  
          </div>
        </div>
      </div>
      <div class="mt-5 mx-auto mb-5">
        <h3>Order Info: </h3>
        <div class="card w-100 p-3 mt-5">
          <div class="card-body">
            <table class="table mt-5 mb-5">
              <!--Table head-->
              <thead class="jc-blue white-color">
                <tr>
                  <th>Item</th>
                  <th>Service</th>
                  <th>Quantity</th>
                  <th>Unit Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody>
                <tr class="clickable blue-hover">
                  <td>     </td>
                  <td>     </td>
                  <td>   </td>
                  <td>  </td>
                  <td> </td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
  
          </div>
        </div>
      </div>
    </div>
    <!-- confirm modal -->
    <!-- confirm modal -->
    <!-- confirm modal -->
  </div>